<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="room.component.scss" type="text/css"/>
  <title>Title</title>
</head>
<body>


<div class="container clearfix">

  <div class="people-list" id="people-list">
    <ul class="list">

      <li class="clearfix">
        <div class="about">
          <div class="name" style="color: #86bb71; font-size: large"><b>Aktywni użytkownicy</b></div>
          <hr>
        </div>
      </li>

      <div *ngFor="let activeUser of activeUsers">
        <a [routerLink]="['/profile', activeUser]" style="text-decoration: none; color: white">
          <li class="clearfix">
            <div class="about">
              <div class="name">{{activeUser}}</div>
            </div>
          </li>
        </a>
      </div>

    </ul>
  </div>

  <div class="chat">
    <div class="chat-header clearfix">

      <div class="chat-about">
        <div class="chat-with">Pokój #{{id}}</div>
        <div class="chat-num-messages">{{activeUsers.length}} użytkowników jest aktywnych</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul style="list-style-type: none">
        <li class="clearfix" *ngFor="let message of messages">
          <div *ngIf="myUsername == message.author.login">
            <div class="message-data">
              <span class="message-data-time">{{message.date}}</span> &nbsp; &nbsp;
              <span class="message-data-name">{{message.author.login}}</span> <i class="fa fa-circle me"></i>
              <span style="color: red; cursor: pointer" *ngIf="moderator" (click)="deleteMessage(message.id)"><b>Usuń</b></span>

            </div>
            <div class="message my-message">
              {{message.note}}
            </div>
          </div>

          <div *ngIf="myUsername != message.author.login">
            <div class="message-data align-right">
              <span class="message-data-time">{{message.date}}</span> &nbsp; &nbsp;
              <span class="message-data-name">{{message.author.login}}</span> <i class="fa fa-circle me"></i>
              <span style="color: red; cursor: pointer" *ngIf="moderator" (click)="deleteMessage(message.id)"><b>Usuń</b></span>

            </div>

            <div class="message other-message float-right">
              {{message.note}}
            </div>
          </div>
        </li>
        <li>
          <i class="fa fa-circle online"></i>
          <i class="fa fa-circle online" style="color: #AED2A6"></i>
          <i class="fa fa-circle online" style="color:#DAE9DA"></i>
        </li>

      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea autofocus [(ngModel)]="message" [ngModelOptions]="{standalone: true}" name="message-to-send"
                id="message-to-send" placeholder="Wpisz swoją wiadomość" rows="3"
                [disabled]="myUsername == null"></textarea>
      <p *ngIf="myUsername == null" style="color: red"><b>Zaloguj się aby wysłać wiadomość!</b></p>

      <button [disabled]="myUsername == null" (click)="sendMessage()">Wyślij</button>

    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->

</body>
</html>
