<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="rooms.component.css" type="text/css"/>
  <title>Rooms</title>

</head>
<body>

<h1 style="text-align: center; margin-top: 60px">Wszystkie pokoje</h1>

<div id="container">

  <div id="sidebar">

    <ul style="list-style-type: none">
      <div class="room-list" *ngFor="let room of rooms">
          <a [routerLink]="['/room', room.id]">
            <li>{{room.name}}</li>
          </a>
      </div>
    </ul>
  </div>

  <div class="dropdown">
    <button *ngIf="loggedIn" onclick="myFunction()" id="myBtn" class="dropbtn">Stwórz pokój</button>
    <div id="myDropdown" class="dropdown-content"><br>
      <form>
        <input type="text" id="room-name" placeholder="Nazwa pokoju" autocomplete="off" [(ngModel)]="roomName" [ngModelOptions]="{standalone: true}"><br><br>
        <input type="submit" value="Stwórz" (click)="createRoom()">
      </form>
    </div>
  </div>


</div>


</body>


</html>
