<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="rooms.component.css" type="text/css"/>
  <title>Rooms</title>

</head>
<body>

<h1 style="text-align: center; margin-top: 60px">Wszystkie pokoje</h1>

<div id="container">

  <div id="sidebar">

    <div class="room-list">
      <ul style="list-style-type: none">

        <a routerLink="/room">
          <li>
            Wichi Wiktor
          </li>
        </a>
        <a routerLink="/room">
          <li>
            Marcin Łysy
          </li>
        </a>
        <a routerLink="/room">
          <li>
            Wejherowo Team
          </li>
        </a>
        <a routerLink="/room">
          <li>
            ZSET TEAM
          </li>
        </a>
        <a routerLink="/room">
          <li>
            Lebioda
          </li>
        </a>
        <a routerLink="/room">
          <li>
            MarcinRajan
          </li>
        </a>
        <a routerLink="/room">
          <li>
            BiałyStockTeam
          </li>
        </a>
        <a routerLink="/room">
          <li>
            DobreWariatyTeam
          </li>
        </a>
        <a routerLink="/room">
          <li>
            dawda
          </li>
        </a>
        <a routerLink="/room">
          <li>
            dawda
          </li>
        </a>
        <a routerLink="/room">
          <li>
            dawda
          </li>
        </a>
        <a routerLink="/room">
          <li>
            dawda
          </li>
        </a>
        <a routerLink="/room">
          <li>
            dawda
          </li>
        </a>
        <a routerLink="/room">
          <li>
            dawda
          </li>
        </a>


      </ul>

    </div>

  </div>

  <div class="dropdown">
    <button onclick="myFunction()" id="myBtn" class="dropbtn">Stwórz pokój</button>
    <div id="myDropdown" class="dropdown-content"><br>
      <form>
        <input type="text" id="room-name" placeholder="Nazwa pokoju" autocomplete="off"><br><br>
        <input type="submit" value="Stwórz">
      </form>
    </div>
  </div>


</div>


</body>


</html>
