<div style="margin-top: 200px">
  <form>
    <h2 style="color: #2a485b"><span class="entypo-login"><i class="fa fa-sign-in"></i></span> Rejestracja</h2>

    <button class="submit" (click)="register()"><span class="entypo-lock"><i class="fa fa-lock"></i></span></button>

    <span class="entypo-user inputUserIcon">
     <i class="fa fa-user"></i>
   </span>
    <input type="text" class="user" placeholder="Nazwa użytkownika" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>

    <span class="entypo-key inputPassIcon">
     <i class="fa fa-key"></i>
   </span>
    <input type="password" class="pass" placeholder="Hasło" [(ngModel)]="password1" [ngModelOptions]="{standalone: true}"/>

    <span class="entypo-key inputPassIconRepeat">
     <i class="fa fa-key"></i>
   </span>
    <input type="password" class="pass" placeholder="Powtórz hasło" [(ngModel)]="password2" [ngModelOptions]="{standalone: true}"/>
  </form>
</div>
