<div class="container-fluid">
<!--  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
    <ul class="ul-menu">
      <li class="li-menu">
        <a href="/rooms" class="a-menu" role="button">Pokoje</a>
      </li>
      <li class="li-menu">
        <a href="/private-messages" class="a-menu" role="button">Prywatne wiadomości</a>
      </li>
      <li class="li-menu" style="float: right">
        <a href="/profile" class="a-menu active" role="button">Profil</a>
      </li>
    </ul>
<!--  </nav>-->
  <router-outlet></router-outlet>
</div>
